.container{
    max-width: 1440px;
}
    .photo-and-privet{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
    }
        .title-hello{
            font-weight: 700;
            font-size: 45px;
            line-height: 60px;
            color: #000000;
            text-transform: none;
        }
        .photo{
            width: 767px;
            height: 568px;
            border: 5px solid #00887A;
            border-radius: 25px;
        }
    .about-me{
        max-width: 1000px;
        
    }
        .margin-about-me{
            margin-top: 60px;
        }
    .container-about-me{
        margin-bottom: 100px;
    }