.text-and-image-section{
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 150px auto;
    border-radius: 25px;
}
    .films{
        background-color: #00887A;
    }
    .vocabulary{
        background-color: #FFCCBC;
    }
    .check-list{
        background-color: #77A6F6;
    }
        .text-and-image{
            padding: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 1000px;
        }
            .text{
                font-weight: 400;
                font-size: 30px;
                line-height: 50px;
            }
                .white{
                    color: #F5F5F5; 
                }
                .black{
                    color: #000000;
                }
                    .link:hover{
                        
                    }
